body {
  margin: 0;
}
.bootstrap-slide .carousel-inner {
  width: 100%;
}
.bootstrap-slide .carousel-inner img {
  max-width: 100%;
}
.bootstrap-slide .carousel-inner > .item {
  height: 350px;
  overflow: hidden;
} /*modificate l'altezza secondo le vostre esigenze*/
.bootstrap-slide .carousel-inner > .item .slide-image {
  height: 100%;
  background-size: cover !important;
}

.navbar-light .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 20px;
}

#Cand {
  height: 100%;
  padding: 0px;
}
@media screen and (max-width: 600px) {
  #Cand {
    height: 50%;
  }
}

#ChiSiamo {
  height: 60%;
  padding: 0px;
}
#Contatti {
  height: 98%;
  padding: 0px;
}

#footer {
  height: 17%;
  background-color: #555555;
  color: #ffffff !important;
  padding-top: 0.5%;
  padding-left: 0.5%;
  padding-right: 0.5%;
  text-align: left;
}
.logo {
  width: 14%;
  height: 88%;
}

@media screen and (min-width: 601px) {
  .logo {
    width: 14%;
    height: 88%;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    width: 20%;
    height: 94%;
  }
}

.logoMenu {
  width: 75%;
  height: 75%;
}

@media screen and (min-width: 601px) {
  .logoMenu {
    width: 80%;
    height: 80%;
  }
}

@media screen and (max-width: 600px) {
  .logoMenu {
    position: absolute;
    left: -9999px;
  }
}

@media screen and (min-width: 601px) {
  .structural {
    position: absolute;
    left: -9999px;
  }
}

@media screen and (max-width: 600px) {
  .structural {
    text-align: right;
    width: 30%;
    height: 30%;
  }
}

#myCarousel {
  width: 65%;
  height: 80%;
}

@media screen and (min-width: 601px) {
  #myCarousel {
    width: 65%;
    height: 80%;
  }
}

@media screen and (max-width: 600px) {
  #myCarousel {
    width: 100%;
    height: 100%;
  }
}

.boximg {
  position: relative;
  width: 100%; /* Stessa larghezza dell'immagine */
  height: 100%; /* Stessa altezza dell'immagine */
}

div.boxtesto {
  text-align: center;
  padding-top: 1%;
  position: absolute;
  height: 50%;
  padding-bottom: 0.5%;
  bottom: 0px;
  left: 0px;

  width: 100%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
}
.testoIntestazione {
  font-weight: bold;
  font-size: 35px;
}

@media screen and (min-width: 601px) {
  .testoIntestazione {
    font-size: 35px;
  }
}

@media screen and (max-width: 600px) {
  .testoIntestazione {
    font-size: 12px;
  }
}

.testo {
  font-size: 18px;
}

@media screen and (min-width: 601px) {
  .testo {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .testo {
    font-size: 10px;
  }
}

.piccolo {
  font-size: 15px;
}

@media screen and (min-width: 601px) {
  .piccolo {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .piccolo {
    font-size: 10px;
  }
}

.medio {
  font-size: 16px;
}

h2 {
  font-family: Helvetica, Sans-Serif;
  font-size: 30px;
  color: #0066ff !important;
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 20px;
  }
}

.myblu {
  color: #0066ff !important;
}
p {
  color: black;
  font-family: Helvetica, Sans-Serif;
  font-size: 25px;
  text-align: justify;
}

@media screen and (min-width: 601px) {
  p {
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  p {
    font-size: 12px;
  }
}

.mybutton {
  padding-top: 1%;
}

@media screen and (max-width: 600px) {
  .mybutton {
    font-size: 8px;
    width: auto;
    height: 20%;
  }
}

.grassetto {
  font-weight: bold;
}

.bianco {
  color: white;
}

.scrolltotop {
  width: 48px;
  height: 48px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: none;
  text-indent: -1000px;
  opacity: 0.5;
  background: url("arrow-up.png") no-repeat;
}
h1 {
  font-family: Helvetica, Sans-Serif;
  text-align: center;
  font-size: 50px;
  color: #0066ff;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
}

.flex {
  display: inline-block;
  height: auto;
  max-width: 100%;
}
.rounded {
  border-radius: 10px;
}
.fotoCentrale {
  padding-top: 50;
  display: block;
  margin: 0 auto;
}

.center_div {
  margin: 0 auto;
  width: 80%; /* value of your choice which suits your alignment */
}

textarea {
  resize: none;
}
.centro {
  text-align: center;
}
.destra {
  float: right;
}
